.info-wrapper {
  display: flex;
  margin: 50px auto;
  font-size: 20px;
}

.info {
  margin: auto;
  color: #5d5d5d;
}

.table-wrapper {
  display: flex;
  margin: 5% 10% 2%;
}

.table-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-column {
  margin-left: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-button {
  margin: 0 10px;
}