.info-wrapper {
  display: flex;
  margin: 50px auto;
  font-size: 20px;
}

.info {
  margin: auto 19%;
  color: #5d5d5d;
}

.table-wrapper {
  display: flex;
  margin: 5% 10% 2%;
}

.table-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-column {
  margin-left: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-button {
  margin: 0 10px;
}

.table td, .table th {
  padding: .5rem;
}

.delete {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

th:hover .delete {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

th:hover .row-number,
th:hover .column-number {
  opacity: 0;
  z-index: 0;
}

.result-row {
  border: 3px solid #dee2e6;
}